h1{
    color:red;
}

#p1{
    background: blue;
    color:white;
    padding:10px;
    margin:50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

#p2{
    background-color: pink;

}

#p3{
    background-color: black;
    color:white;
}